$mainblue: #1976d2;

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  margin: 20px 0;
}
.liked {
  padding: 0 130px;
}

.total{
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.block {
  width: 230px;
  padding: 20px;
  border: 2px dashed lightblue;
  margin: 10px 20px 10px 0px;
}

.movie-title {
  padding-bottom: 10px;
}

.movie-bottom {
  position: absolute;
  bottom: 25px;
}
.movie-price {
  margin: 0 20px;
}

.movie-text {
  font-size: 15px;
}
.movie-img {
  padding-bottom: 40px;
}

.movie-bottom {
  display: flex;
  justify-content: space-around;
}

.movie-price {
  background-color: #eee;
  color: $mainblue;
  border: 1px solid $mainblue;
  font-weight: 600;
}

.clearLiked{
  color: white;
  background-color: $mainblue;
  border: 2px solid #90816A;
  width: 9rem;
  height: 2.3rem;
  margin:  auto 1rem;
  transition-duration: 0.2s;
  outline: none;
}
